/*
 * Inkscape GTK3 user style sheet
 *
 */

/* undo style.css */
GtkSpinButton {
    /* padding: 0; */
    padding-bottom: 6px;
    padding-left:   8px;
    padding-right:  8px;
    padding-top:    5px;
}
GtkSpinButton.entry {
    /*padding-left: 2px; */
    padding-left: 8px;
}

/* ----------------------------------------------- 
 * prefer symbolic icons
 * ----------------------------------------------- */

* {
    -gtk-icon-style: symbolic;
}

/* ----------------------------------------------- 
 * global font sizes
 * ----------------------------------------------- */

* { font-size: 8px; }

/* ----------------------------------------------- 
 * specific sizes
 * ----------------------------------------------- */

.combo {
}
.flat {
    padding:        4px;
}
.image-button {
    padding:        4px;
}
.radio {
}
.text-button {
    padding:        4px;
}
.toggle {
}
.toolbar {
    margin:         0px;
    padding:        4px;
}

GtkButtonBox.horizontal GtkButton:not(.text-button) {
    padding-bottom: 0px;
    padding-top:    0px;
}
GtkComboBox GtkButton {
    margin-bottom:  0px;
    margin-top:     0px;
    padding-bottom: 0px;
    padding-top:    0px;
}
GtkSpinButton.spinbutton {
    padding-left:   0px;
    padding-right:  0px;
}
GtkSpinButton.entry {
    padding-left:   4px;
    padding-right:  4px;
}

#DesktopMainTable GtkEntry,
#DesktopMainTable GtkSpinButton,
#DesktopMainTable GtkSpinButton.entry {
    padding-bottom: 6px;
    padding-left:   4px;
    padding-right:  4px;
    padding-top:    6px;
    font-family:    Courier;
}

#DesktopMainTable GtkComboBox GtkButton {
    margin-bottom:  0px;
    margin-top:     0px;
    padding-bottom: 0px;
    padding-top:    0px;
}

/* ----------------------------------------------- 
 * Inkscape special cases for image buttons
 * ----------------------------------------------- */

/* 
 * Inkscape's toolbar specialties
 * (watch out for mixed sizes of icons used within the same toolbar!)
 */
#MeasureToolbar .image-button,
#TextToolbar .image-button,
#SprayToolbar .image-button {
    padding:        0px;
}
#NodeToolbar .image-button,
#MeshToolbar .image-button {
    padding-bottom: 0px;
    padding-top:    0px;
}
#SprayModeAction .image-button {
    padding-left:   4px;
    padding-right:  4px;
}
#ToolToolbar GtkButton {
    margin-bottom:  1px;
    padding:        2px;
}

SPPaintSelector > GtkBox > GtkBox > GtkGrid > GtkBox > GtkButton.flat.button {
    /* padding for dropper tool icon (24px) in Fill&Stroke */
    padding: 0px;
}

/* ----------------------------------------------- 
 * GTK widgets special cases
 * ----------------------------------------------- */

/* TODO: slider in Objects dialog */
scale {
}
scale > contents > trough > slider {
}

/* ----------------------------------------------- 
 * notebook
 * ----------------------------------------------- */

/* Fill & Sroke, Document properties, etc. */
.notebook {
    -GtkNotebook-initial-gap: 0;
    -GtkNotebook-tab-overlap: 0;
}

tab {
    margin-left:    0px;
    margin-right:   0px;
    padding-bottom: 8px;
    padding-left:   4px;
    padding-right:  4px;
    padding-top:    6px;
}

/* ----------------------------------------------- 
 * more inkscape tweaks
 * ----------------------------------------------- */

/* Why did I add this again? */
#PanelContents GtkEntry + GtkButton,
#PanelContents GtkCheckButton.text-button + GtkButton {
    padding-bottom: 0px;
    padding-top:    0px;
}

/* around the canvas ... */
#LockGuides,
#StickyZoom,
#CMS_Adjust {
    padding: 0px;
}

/* add margin at right end of status bar for WM resize grip */
#DesktopStatusBar {
    /* works with 3.20, but not with 3.18 ... ? */
    margin-right: 16px;
}

/* -----------------------------------------------
 * Workarounds and tweaks for upstream theme bugs
 * ----------------------------------------------- */

/* hover state of toolbox buttons with Adwaita */
#ToolToolbar GtkToolItem > GtkButton {
    transition: none;
}

/* Attempt to reduce theming-related lagging */
#DesktopMainTable * {
    box-shadow: none;
    text-shadow: none;
}

/* eof */
