/*
 * Inkscape GTK3 user style sheet
 *
 */

/* ----------------------------------------------- 
 * prefer symbolic icons
 * ----------------------------------------------- */

* {
    -gtk-icon-style: symbolic;
}

/* ----------------------------------------------- 
 * global font sizes
 * ----------------------------------------------- */

widget,
dialog,
menu {
    font-size: 0.9rem;  /* slightly reduce default font size */
}

widget menubar,
widget menubar menu {
    font-size: 1rem;    /* default font size for main window menubar */
}

/* ----------------------------------------------- 
 * specific font sizes
 * ----------------------------------------------- */

#ToolboxCommon spinbutton {
    /* spinbutton entries on toolbars */
    font-size: 90%;
}
#SelectedStyle spinbutton {
    /* current style indicator details */
    font-size: 90%;
}
#CoordinateAndZStatus label:not(#ZLabel) {
    /* pointer coordinates X, Y */
    font-size: 90%;
}
spinbutton#ZoomStatus {
    /* zoom level */
    font-size: 90%;
}

#StyleSwatch label {
    /* desktop style indicator details */
    font-size: 80%;
}
#SelectedStyle label {
    /* current style indicator details */
    font-size: 80%;
}

/* ----------------------------------------------- 
 * specific font families
 * ----------------------------------------------- */

#ToolboxCommon spinbutton {
    /* spinbutton entries on toolbars */
    font-family: monospace;
}
#SelectedStyle spinbutton {
    /* current style indicator details */
    font-family: monospace;
}
spinbutton#ZoomStatus {
    /* #CoordinateAndZStatus */
    font-family: monospace;
}

/* ----------------------------------------------- 
 * custom color presets
 * ----------------------------------------------- */

@define-color dim_fg_30 mix(@theme_fg_color, @theme_bg_color, 0.3);
@define-color dim_fg_40 mix(@theme_fg_color, @theme_bg_color, 0.4);
@define-color dim_fg_50 mix(@theme_fg_color, @theme_bg_color, 0.5);
@define-color dim_fg_60 mix(@theme_fg_color, @theme_bg_color, 0.6);

@define-color new_fg @dim_fg_40;

widget,
dialog {
    color: @new_fg;
}

widget menubar {
    color: @new_fg;
}

toolbar image {
    /* symbolic icons */
    color: @new_fg;
}

combobox button.combo {
    color: @new_fg;
}

entry {
    color: @new_fg;
}

spinbutton {
    color: @new_fg;
}

spinbutton button {
    color: @new_fg;
}

#PanelContents button {
    color: @new_fg;
}

#HorizontalRuler,
#VerticalRuler {
    color: @dim_fg_60;
}

/* ----------------------------------------------- 
 * button, spinbutton, entry, combobox
 * ----------------------------------------------- */

/* reset for desktop themes like Numix (margins vs padding) */
entry {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* adjust basic style classes -> padding + height -> 24px */
.combo,
.flat,
.image-button,
.radio,
.text-button,
.toggle {
    min-width: 16px;
    min-height: 16px;
    padding: 4px;
}

buttonbox.horizontal button:not(.text-button) {
    padding-top: 0px;
    padding-bottom: 0px;
}

combobox button.combo {
    min-width: 16px;
    min-height: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
}

entry {
    min-height: 24px;
}

spinbutton {
    min-height: 16px;
}
spinbutton button {
    margin: 0px;
    min-height: 10px;
    padding: 0px;
}
spinbutton entry {
    margin: 0px;
}

toolbar {
    /* TODO: Numix adds wider margins? */
    padding: 4px;
}

toolbar entry {
    min-height: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
}
toolbar spinbutton entry {
    min-height: 16px;
}

toolbar spinbutton entry {
    /* clashes with Numix, but aligns with labels under Adwaita:
    margin-bottom: -2px;
    */
}

/* ----------------------------------------------- 
 * Inkscape special cases for image buttons
 * ----------------------------------------------- */

/* Inkscape's toolbar specialties
 * (watch out for mixed sizes of icons used within the same toolbar!) */
#MeasureToolbar .image-button,
#TextToolbar .image-button,
#SprayToolbar .image-button {
    padding: 0;
}
#NodeToolbar .image-button,
#MeshToolbar .image-button {
    padding-top: 0;
    padding-bottom: 0;
}
#SprayModeAction .image-button {
    padding-left: 4px;
    padding-right: 4px;
}
#ToolToolbar button {
    padding: 2px;
    margin-bottom: 1px;
}

#PanelContents entry + button,
#PanelContents checkbutton.text-button + button {
    padding-top: 0px;
    padding-bottom: 0px
}

/* special case dropper button in Fill & Stroke */
notebook + box > button.flat {
    padding: 0;
}

/* ----------------------------------------------- 
 * GTK widgets special cases
 * ----------------------------------------------- */

/* slider in Objects dialog 
 *  FIXME: doesn't work in doc properties */
scale {
    padding-top: 0;
    padding-bottom: 0;
}
scale > contents > trough > slider {
    min-height: 12px;
    min-width: 12px;
    margin: -6px;
}

/* ----------------------------------------------- 
 * notebook
 * ----------------------------------------------- */

/* Fill & Sroke, Document properties, etc. */
notebook tabs {
    padding: 0px;
    margin: 0px;
}

notebook tab {
    min-height: 24px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

notebook header.top tab box.horizontal {
    padding: 0px;
    margin: 0px;
}

notebook header.top tab label {
    padding: 4px;
}

/* ----------------------------------------------- 
 * more inkscape tweaks
 * ----------------------------------------------- */

/* toolbar spinbutton entry:
 *  increase available space for larger numbers */
#ToolboxCommon undershoot {
    /* Underflow indicators when content is scrolled out of view */
    /*
    background: transparent;
    */
}
#ToolboxCommon spinbutton.horizontal entry {
    /* Adjust min width of spinbutton entries on horizontal toolbars */
    min-width: 54px;
}
#SprayToolbar spinbutton.horizontal entry {
    /* larger width not really needed for spray tool */
    min-width: 28px;
}
#ToolboxCommon spinbutton.horizontal entry {
    /* reduce padding within entry */
    padding-left: 2px;  /* default: 8px */
    padding-right: 2px;  /* default: 8px */
}
#ToolboxCommon spinbutton.horizontal entry progress {
    /* re-adjust progress indicator for GimpSpinScale widgets */
    margin-left: 0px;  /* default: -6px */
    margin-right: 0px;  /* default: -6px */
}

/* around the canvas ... */
#LockGuides,
#StickyZoom,
#CMS_Adjust {
    padding: 0px;
}

/* desktop style indicator details */
#StyleSwatch {
    margin: 0px;
    padding: 0px;
}

/* current style indicator details */
#SelectedStyle spinbutton.horizontal entry {
    padding-right: 0px;
    margin-right: -4px;
}

/* fragile workaround to fix margin to the left of Opacity */
#SelectedStyle > grid > widget:nth-last-child(2) > label {
    margin-left: 8px;
}

/* Adjust separator margin to #CoordinateAndZStatus GtkGrid */
#CoordinateSeparator {
    margin-right: 8px;
}
#ZLabel {
    margin-left: 4px;
}

/* add margin at right end of status bar for WM resize grip */
#DesktopStatusBar {
    margin-right: 16px;
}

/* -----------------------------------------------
 * Workarounds and tweaks for upstream theme bugs
 * ----------------------------------------------- */

/* hover state of toolbox buttons with Adwaita */
#ToolToolbar toolitem > button {
    transition: none;
}

/* Attempt to reduce theming-related lagging */
/* don't change box-shadow for notebook tabs (Adwaita 3.20.5) */
#DesktopMainTable *:not(tab),
#InkscapePanel *:not(tab) {
    box-shadow: none;
    text-shadow: none;
}
#DesktopMainTable spinbutton {
    background-image: none;
    transition-duration: 0;
}
#DesktopMainTable spinbutton:not(:disabled) {
    background-color: darker(@theme_bg_color);
}

/* eof */
